@charset "utf-8";
/* CSS Document */

*{
    margin:0;
	padding:0;
}
.nav { 
   height:70px;
   background:#F66B27;
   border-bottom:2px dashed #FFF;

}
.nav ul{
  list-style: none;
  line-height: 80px;
  position: absolute;
  left:600px;

}
.nav ul li{
  float:left;
  padding-left: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  }
  .nav ul li a:link{
color: white;
text-decoration: none;
font-size: 14px;
font-weight: bold;
  }
.nav ul li a:hover{
    color: black;
  }
 .a1{
 
  height: 800px;
background-color: #F66B27;
  }
  h1{
   position: absolute;
   top:60px;
   left:950px;
   font-size: 50px;
   color:white;
   font-family: "微软雅黑";
 }
 p{
  position: absolute;
   top:150px;
   left:500px;
   color:white;
   text-align: 30px;
 }
 .a2{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 300px;
 }
.a3{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 800px;
}
.a4{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 1300px;
}
h3{
  position: absolute;
  top: 650px;
  color: white;
  line-height: 30px;
}